<ion-view view-title="Bienvenido a NezApp">
  <ion-content class="padding">
    
      
    <div>

        <div class="item item-body" style="text-align: center">

          <p class="padding-bottom">
            Muy bien, lo has logrado.
          </p>
          
          <p class="padding-bottom">
            Tu nueva Id es:<br>
            <h1> {{myId}} </h1>
          </p>
 
          <a href="#/tab/inicio" class="button button-full button-energized">
            Finalizar
          </a>

        </div>
      
    </div>

        
        

  </ion-content>
</ion-view>