<ion-view view-title="Historia del Municipio">
  <ion-content class="padding has-header">
      
      <div class="card">
        
        <div class="item item-divider padding">
          Significado
        </div>
        
        <div class="item item-text-wrap padding">
          <p class="padding-bottom">Nezahualcóyotl, palabra del idioma fonético náhuatl proviene de las raíces: nezahual, nezahualo, ayunar y coyotl, coyote. Nezahualcóyotl proviene del dialecto chichimeca, de las radicales Nezahualli, que significa ayuno y coyotl, que significa coyote, es decir “Coyote en ayuno”.</p>

          <p class="padding-bottom">En honor del Gran Señor o Tlatoani Acolmiztli Nezahualcóyotl de Texcoco se dio este nombre al municipio erigido como tal el 23 de abril de 1963 por parte de la legislatura local.</p>
        </div>
      </div>



      <div class="card">
        <div class="item item-divider padding">
          Época prehispánica
        </div>

        <div class="item item-text-wrap paddding">
          <p class="padding-bottom">
          A partir del siglo XIV por la influencia de la cultura tolteca se consolidaron dos grandes señoríos: el mexica en la ciudad de Tenochtitlán y el acolhua en Texcoco, donde nació Acolmiztli-Nezahualcóyotl (1402-1472) el más grande arquitecto que construyó teocallis, palacios, jardines, acueductos, una mansión de recreo en Tezcutzinco y, además, una albarrada para separar las aguas saladas de las dulces.
          </p>
        </div>
      </div>



      <div class="card">
        <div class="item item-divider padding">
          Periodo de la conquista española
        </div>

        <div class="item item-text-wrap padding">
          <p class="padding-bottom">El 26 de noviembre de 1555, el español Francisco Gudiel presentó un proyecto para el desagüe general del Valle de México y utilizar las aguas para los regadíos y la navegación, más tarde ésta sería una propuesta de Alejandro de Humboldt.</p>

          <p class="padding-bottom">En 1590 Enrico Martínez, de nacionalidad alemana, llegó a la Nueva España y realizó un proyecto para el desagüe.</p>

          <p class="padding-bottom">El 29 de noviembre de1607 el virrey Luis de Velasco inauguró trabajos para desaguar las áreas de Ecatepec, Huehuetoca y Nochistongo.</p>

          <p class="padding-bottom">En 1613, fue enviado de España el holandés Adrián Boot, técnico en el desagüe de lagunas, sin embargo las inundaciones siguieron sin que se lograra el objetivo de proteger a la ciudad de México en este aspecto.</p>

          <p class="padding-bottom">En 1632 muere Enrico Martínez y con él concluye el período más trascendente de la obra del desagüe del Valle de México.</p>

          <p class="padding-bottom">Al iniciarse el siglo XIX el problema del desagüe no se había resuelto, por lo que José de Iturrigaray y Alejandro de Humboldt, propusieron que se abriera un canal directo al Lago de Texcoco.</p>
        </div>
      </div>





      <div class="card">
        <div class="item item-divider padding">
          Época independiente
        </div>

        <div class="item item-text-wrap padding">
          <p class="padding-bottom">José María Luis Mora, Lucas Alamán y Lorenzo de Zavala se preocuparon por resolver el problema del desagüe del Valle de México para evitar las inundaciones.</p>

          <p class="padding-bottom">En 1843 la marquesa Calderón de la Barca advirtió que la deforestación aunada a la salinidad y el drenaje artificial romperían el equilibrio ecológico e hidráulico.</p>

          <p class="padding-bottom">En las décadas de 1850 y 1860 el ingeniero Francisco de Garay participó en el desagüe general de la cuenca de México a través del llamado gran canal y el túnel de Tequixquiac.</p>

          <p class="padding-bottom">De esta manera, a casi tres siglos de su inicio, fueron culminadas las obras del desagüe e inauguradas el 17 de marzo de 1900 por el general Porfirio Díaz.</p>
        </div>
      </div>




      <div class="card">
        <div class="item item-divider padding">
            Época revolucionaria
        </div>

        <div class="item item-text-wrap padding">
          <p class="padding-bottom">En septiembre de 1912 la Secretaría de Fomento, Colonización e Industria declaró que el lago de Texcoco, situado entre el Distrito Federal y el Estado de México, era de jurisdicción federal.</p>

          <p class="padding-bottom">Durante el período 1912-1932, se continuaron las obras de desecación de la zona lacustre.</p>

          <p class="padding-bottom">En 1917 el presidente Venustiano Carranza mandó hacer un levantamiento de los terrenos desecados del lago de Texcoco para determinar la propiedad que correspondía a la Federación con el</p>


        </div>
      </div>







      <div class="card">
        <div class="item item-divider padding">
          Fundación del municipio de Nezahualcóyotl
        </div>

        <div class="item item-text-wrap padding">
          <p class="padding-bottom">Debido a la crisis económica y a la falta de programas eficientes de los gobiernos de la República para impulsar el desarrollo en el campo, alentar la economía en las pequeñas comunidades, así como la creación de institutos educativos de diferentes niveles, la gente de provincia emigró a principios de 1940 a la capital del país en busca de alternativas que le permitieran mejores condiciones de vida para ellos y sus hijos.</p>

 

          <p class="padding-bottom">En aquellos años, la Ciudad de México, que sólo contaba con un millón 500 mil habitantes, estaba ávida de mano de obra barata que impulsara el progreso y desarrollo tanto de las nuevas fábricas como de las ya existentes, además de pequeños talleres y servicios a los que sin dificultad, pudieron integrarse los nuevos residentes. Sin embargo, la capacidad y calidad de vivienda no era la idónea para hospedar a los emigrantes, por lo que se elevó su precio dejando a estos con mínimos recursos para sostener a sus familias y posponiendo sus anhelos de superación.</p>

           

          <p class="padding-bottom">Paralelamente, al Lago de Texcoco se le ganaba terreno debido a las obras de desagüe de la cuenca de México con el túnel de Tequesquiac, toda vez que el proceso de desecación se aceleró, lo cual fue aprovechado en 1945 por algunas familias que se asentaron en parte de lo que hoy es la colonia Juárez Pantitlán y Pantitlán, esta última en el Distrito Federal.</p>

           

          <p class="padding-bottom">El 6 de abril de 1949, el entonces presidente de la República, Miguel Alemán, instruyó a la Secretaría de Recursos Hidráulicos para que los terrenos del Lago de Texcoco fueran entregados al Estado de México para su aprovechamiento como zona de asentamientos urbanos.</p>

           

          <p class="padding-bottom">Sin embargo, para ese entonces los miembros de la Unión Proletaria de Colonos del Estado de México ya tenían cuatro años asentados en los terrenos que denominaron Colonia México, por lo que las tres primeras colonias en asentarse, en lo que hoy es el municipio de Nezahualcóyotl, fueron la México, El Sol y Juárez Pantitlán, cuyo valor del metro cuadrado en 1945 era de 3 a 5 pesos.</p>

           

          <p class="padding-bottom">A partir de este año, el crecimiento de nuevas colonias fue acelerado en todas direcciones, al grado que en 1949 existían 2 mil habitantes y para 1954 eran ya más de 40 mil, mismos que ya carecían de terrenos legales y de todos los servicios.</p>

           

          <p class="padding-bottom">Este crecimiento se debió a que los fraccionadores, quienes compraron a precios irrisorios los terrenos desecados a los comuneros del municipio de Chimalhuacán, promovieron en las colonias populares del Distrito Federal la venta de los mismos con pagos incluso semanales, lo cual motivo a quienes deseaban un espacio propio para vivir.</p>

           

          <p class="padding-bottom">De tal manera que para 1952 en las Colonias del ex vaso de Texcoco ya existían otras como la Agua Azul, Atlacomulco, Nezahualcóyotl, José Vicente Villada, el Porvenir, Maravillas, El Sol, Juárez Pantitlán, México, Tamaulipas, Evolución, Estado de México y Romero.</p>

           

          <p class="padding-bottom">De las organizaciones que impulsaron la lucha por los servicios públicos destaca la federación de Colonos del ex Lago de Texcoco que, fundada en los 50, exhibía el incumplimiento de los fraccionadores en materia de servicios como el agua potable, luz eléctrica, drenaje y escuelas. Los pocos servicios con que se contaban eran pagados por los propios colonos.</p>

           

          <p class="padding-bottom">Por ello, esta misma organización, en abril de 1960, solicitó al entonces gobernador Gustavo Baz Prada la emancipación de las Colonias del ex Lago de Texcoco del municipio de Chimalhuacán, ya que sus 80 mil habitantes aspiraban tener una vida social y política organizada dentro de la autonomía e independencia del municipio de Chimalhuacán, el cual tenía la responsabilidad de administrar todo lo referente a las propias colonias y, por supuesto, describían las pésimas condiciones en las que vivían.</p>

           

          <p class="padding-bottom">La Federación de Colonos seguiría insistiendo en su propuesta de emancipación.</p>

           

          <p class="padding-bottom">Creada en 1960 con la misma intención que la Federación, La Organización de Fuerzas Pro-Municipio de las Colonias del Vaso de Texcoco A.C. contó con el apoyo del gobierno del estado, pues entre sus integrantes reunía a los sectores organizados con mayor presencia, incluyendo a un representante de los fraccionadores.</p>

           

          <p class="padding-bottom">A petición de la Federación y la Unión de Fuerzas para que se fundara el municipio 120 del estado, se sumarían alrededor de 20 primarias que pugnaban por mejoras en sus centros del mismo nivel, de niveles avanzados, así como preprimarias.</p>

           

          <p class="padding-bottom">Pero no fue sino hasta el 20 de febrero de 1963 que el gobernador Gustavo Baz Prada, mediante el oficio 198 del ejecutivo estatal, sometió a consideración de la XLI Legislatura del Estado la erección del municipio de Nezahualcóyotl, la cual después de un análisis de la zona, acordó expedir el decreto correspondiente y enviarlo para su publicación el 3 de abril.</p>

           

          <p class="padding-bottom">El 18 de abril de 1963, la XLI Legislatura, expidió el decreto número 93, por el que con una extensión territorial de 63.44 kilómetros cuadrados, se erige el Municipio de Nezahualcóyotl, siendo publicado el 20 del mismo mes y año, mediante el cual las Colonias del Vaso de Texcoco pasaban a ser el municipio 120, decreto que entró en vigor el 23 de abril del mismo año dando origen a este gran municipio.</p>


        </div>
      </div>





  </ion-content>
</ion-view>
